<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.quote.mapper.QuotePointInfoMapper">

    <delete id="deleteQuotePointInfoBySheetId" parameterType="String">
        delete
        from quote_point_info
        where sheet_id = #{sheetId}
    </delete>

    <delete id="deleteQuotePointInfo" parameterType="QuotePointInfo">
        delete from quote_point_info
        <where>
            <if test="sheetId != null  and sheetId != ''">and sheet_id = #{sheetId}</if>
            <if test="subId != null ">and sub_id = #{subId}</if>
            <if test="id != null ">and id = #{id}</if>
            <if test="pollutantTypeId != null ">and pollutant_type_id = #{pollutantTypeId}</if>
        </where>
    </delete>

    <delete id="deleteTempPointInfo" parameterType="QuotePointInfo">
        delete
        from quote_point_info
        where create_time &lt; #{createTime}
    </delete>
</mapper>