<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.training.mapper.TraCourseExamMapper">
    <resultMap type="TraCourseExamVO" id="TraCourseExamUserResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="trainId"    column="train_id"    />
        <result property="trainYear"    column="train_year"    />
        <result property="status"    column="status"    />
        <result property="score"    column="score"    />
        <result property="examType"    column="exam_type"    />
        <result property="examName"    column="exam_name"    />
        <result property="examId"    column="exam_id"    />
    </resultMap>

    <select id="selectTraCourseExamUserList" parameterType="TraCourseExam" resultMap="TraCourseExamUserResult">
        <include refid="selectTraCourseExamVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="trainId != null "> and train_id = #{trainId}</if>
            <if test="trainYear != null  and trainYear != ''"> and train_year = #{trainYear}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="examType != null "> and exam_type = #{examType}</if>
            <if test="examName != null  and examName != ''"> and exam_name like concat('%', #{examName}, '%')</if>
            <if test="examId != null "> and exam_id = #{examId}</if>
        </where>
    </select>
</mapper>